$primary: hsl(322, 70%, 54%);
$primary-bright: hsl(322, 82%, 70%);
$primary-muted: hsl(322, 20%, 50%);
$neutral-0: #000;
$neutral-2: hsl(278, 57%, 5%);
$neutral-4: hsl(289, 35%, 21%);
$neutral-6: hsl(290, 10%, 53%);
$neutral-8: hsl(300, 11%, 75%);
$neutral-9: #FFF;
$black: #000;
$white: #FFF;

@function rgbv($color) {
	@return red($color) green($color) blue($color);
}

@mixin dark() {
	color-scheme: dark;
	--color-primary-rgb: #{rgbv($primary)};
	--color-primary-bright-rgb: #{rgbv($primary-bright)};
	--color-primary-muted-rgb: #{rgbv($primary-muted)};
	--color-neutral-0-rgb: #{rgbv($neutral-0)};
	--color-neutral-2-rgb: #{rgbv($neutral-2)};
	--color-neutral-4-rgb: #{rgbv($neutral-4)};
	--color-neutral-6-rgb: #{rgbv($neutral-6)};
	--color-neutral-8-rgb: #{rgbv($neutral-8)};
	--color-neutral-9-rgb: #{rgbv($neutral-9)};
	--color-black-rgb: #{rgbv($black)};
	--color-white-rgb: #{rgbv($white)};
}

@mixin light() {
	color-scheme: light;
	--color-primary-rgb: #{rgbv(darken($primary, 20%))};
	--color-primary-bright-rgb: #{rgbv($primary-bright)};
	--color-primary-muted-rgb: #{rgbv($primary-muted)};
	--color-neutral-0-rgb: #{rgbv($neutral-9)};
	--color-neutral-2-rgb: #{rgbv(lighten($neutral-8, 10%))};
	--color-neutral-4-rgb: #{rgbv(lighten($neutral-6, 10%))};
	--color-neutral-6-rgb: #{rgbv($neutral-4)};
	--color-neutral-8-rgb: #{rgbv($neutral-2)};
	--color-neutral-9-rgb: #{rgbv($neutral-0)};
}

:root {
	@include dark;

	@media (prefers-color-scheme: light) {
		@include light;
	}

	&[data-theme="dark"] {
		@include dark;
	}

	&[data-theme="light"] {
		@include light;
	}

	--color-primary: rgb(var(--color-primary-rgb));
	--color-primary-bright: rgb(var(--color-primary-bright-rgb));
	--color-primary-muted: rgb(var(--color-primary-muted-rgb));
	--color-neutral-0: rgb(var(--color-neutral-0-rgb));
	--color-neutral-2: rgb(var(--color-neutral-2-rgb));
	--color-neutral-4: rgb(var(--color-neutral-4-rgb));
	--color-neutral-6: rgb(var(--color-neutral-6-rgb));
	--color-neutral-8: rgb(var(--color-neutral-8-rgb));
	--color-neutral-9: rgb(var(--color-neutral-9-rgb));
	--color-black: rgb(var(--color-black-rgb));
	--color-white: rgb(var(--color-white-rgb));
}
