.container {
	margin: 0;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.splash {
	position: relative;
}

.name {
	color: var(--color-neutral-9);

	>span {
		color: var(--color-primary);
	}
}
