.container {
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	animation: fadein 0.5s ease-in-out backwards;
	animation-delay: 0.2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
}

.splash {
	position: relative;
}
