@import "reset";
@import "theme";
@import "scrollbar";

@font-face {
  font-family: Bitch;
  src: url("/Bitch.woff2") format("woff2");
}

:root {
  font-size: 16px;
  line-height: 1.5;
  tab-size: 2;
  overflow: overlay;
  scrollbar-gutter: stable;

  accent-color: var(--color-primary);
  color: var(--color-neutral-8);
  background-color: var(--color-neutral-2);
  background-image: linear-gradient(to top, rgb(var(--color-black-rgb) / 30%), rgb(var(--color-black-rgb) / 0%) 15rem);
  background-attachment: fixed;
}

:root {
  height: 100%;
}

body {
  height: 100%;
  font-family: Bitch, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

::selection {
  background-color: var(--color-primary-bright);
  color: var(--color-neutral-2);
}


a {
  color: var(--color-primary);
  text-decoration: inherit;
  will-change: color;
  transition: color 0.1s;
}

a:hover,
a:focus-visible {
  color: var(--color-primary-bright);
}

h1 {
  text-align: center;
}

a,
button,
details>summary {
  cursor: pointer;
}

input:disabled,
button:disabled {
  filter: saturate(0.25);
  cursor: not-allowed;
}

hr {
  margin: 0;
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--color-neutral-4);
}
