.container {
	text-align: center;
	user-select: none;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	color: var(--color-primary);
	min-width: 1.5rem;

	&:disabled {
		opacity: 0;
		pointer-events: none;
	}

	&:not(:disabled):hover,
	&:not(:disabled):focus-visible {
		color: var(--color-primary-bright);
	}
}

.first {
	min-width: 2rem;

	&::after {
		content: ' ...';
		color: var(--color-primary-muted);
	}
}

.last {
	min-width: 2rem;

	&::before {
		content: '... ';
		color: var(--color-primary-muted);
	}
}

.next,
.prev {
	margin-top: 3px;

	&:disabled {
		opacity: 0.5;
	}
}

.current {
	color: var(--color-neutral-9);
}

.total {
	display: none;
	pointer-events: none;
}


@media screen and (width < 20rem) {
	.total {
		display: initial;
	}

	.button:not(.total, .current, .next, .prev) {
		display: none;
	}
}
