@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(1turn);
	}
}

@keyframes spinner {
	0% {
		transform: scale(0) translateX(-4rem);
	}

	50% {
		transform: scale(1) translateX(0);
	}

	100% {
		transform: scale(0) translateX(4rem);
	}
}

@mixin spinner {
	content: '';
	position: absolute;
	inset: 0;
	margin: auto;
	display: block;
	width: 1rem;
	height: 1rem;
	background: var(--color-primary);
	border-radius: 50%;
	will-change: transform;
	animation: 0.6s spinner linear infinite both;
}

.container {
	position: relative;
}

.spinner {
	position: absolute;
	inset: 0;
	width: 3rem;
	height: 3rem;
	margin: auto;
	appearance: none;
	will-change: transform;
	animation: 1s rotate linear infinite;
	pointer-events: none;
	background: none;
	border: none;

	&::-webkit-progress-value {
		display: none;
	}

	&::after,
	&::before {
		@include spinner;
	}

	&::-moz-progress-bar {
		@include spinner;
	}

	&::-webkit-progress-bar {
		@include spinner;
	}

	&::after {
		animation-delay: 0s;
	}

	&::before {
		animation-delay: 0.25s;
	}

	&::-webkit-progress-bar {
		animation-delay: 0.5s;
		top: 0.25rem;
	}

	&::-moz-progress-bar {
		animation-delay: 0.5s;
		top: 0.25rem;
	}
}

.message {
	top: 2rem;
	position: relative;
}
