.about,
.settings {
	display: grid;
	grid-template-columns: 5rem 1fr;
	gap: 0.1rem 1rem;
	> dt {
		text-align: right;
		margin-top: 0.25rem;
		line-height: 1;

		&::after {
			content: ':';
		}
	}
	> dd {
		margin: 0;
	}
}

.settings {
	> dd {
		margin-bottom: 1rem;

		label {
			display: flex;
			gap: 0.5rem;
			align-items: center;
		}
	}
}
