$sidebar: 4rem;

@keyframes logo {
	from {
		transform: rotate(2turn) scale(1.25);
	}
	to {
		transform: rotate(0) scale(0.9);
	}
}

.header {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: $sidebar;
	overflow: auto;
	background-image: linear-gradient(to bottom, rgb(var(--color-neutral-4-rgb) / 50%) 10rem, rgb(var(--color-neutral-4-rgb) / 0%) max(15rem, 75vh));
	user-select: none;
	cursor: default;

	:global(.h) {
		font-size: 130%;
		padding-block: 0.5rem;
		overflow: hidden;
		>strong {
			display: inline-block;
		}

		
		&:active {
			>strong {
				animation: logo 0.5s ease-out both;
			}
		}
	}

	> nav {
		font-size: 125%;
		display: flex;
		flex-direction: column;
		align-items: center;
		> a,
		> button {
			text-align: center;
			width: 100%;
			min-height: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-primary);
			position: relative;
			
			&:global(.active) {
				background-color: var(--color-neutral-2);
				color: var(--color-primary-bright);
			}

			&[aria-disabled="true"] {
				filter: saturate(0);
			}

			&[data-count]:not([data-count="0"])::after {
				content: attr(data-count);
				position: absolute;
				top: 0.25rem;
				right: 0.25rem;
				font-size: 80%;
				color: var(--color-neutral-9);
				background-color: var(--color-neutral-0);
				border-radius: 50%;
				width: 1rem;
				height: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: 'Courier New', Courier, monospace;
				font-weight: bold;
			}
		}
	}
}

.main {
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding-left: $sidebar;
}
