.palette {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	font-size: 75%;
	> li {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.25rem;
		width: 4rem;
		height: 2rem;
	}
}
